{% extends 'layout.html' %}
{% block title %} List|App Store {% endblock %}
{% block content %}
		<h2>List Books</h2>
			<table border="2" style="width: 500px; border-collapse: collapse;" class="tabel">
				<thead>
					<tr bgcolor="yellow" align="center">
						<td><b>ID</b></td>
						<td><b>Judul</b></td>
						<td><b>Qty</b></td>
						<td><b>Action</b></td>
					</tr>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td>{{ d.id }}</td>
						<td>{{ d.judul }}</td>
						<td align="center">{{ d.qty }}</td>
						<td align="center"><a href="/books/edit/{{ d.id }}">Edit</a> | <a href="/books/">Delete</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<p>
				<br/>
				<a href="/" class="btn btn-primary">Home</a>
				<a href="/books/add" class="btn btn-success">Add New</a>
			</p>
{% endblock %}