{% extends 'layout.html' %}
{% block title %} List|App Store {% endblock %}
{% block content %}
		<h2>List Books</h2>
			<table border="2" style="width: 500px; border-collapse: collapse;" class="tabel">
				<thead>
					<tr bgcolor="yellow">
						<td><b>ID</b></td>
						<td><b>Judul</b></td>
						<td><b>Qty</b></td>
					</tr>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td>{{ d.id }}</td>
						<td>{{ d.judul }}</td>
						<td>{{ d.qty }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<p>
				<br/>
				<a href="/" class="btn btn-primary">Home</a>
			</p>
{% endblock %}