{% extends 'layout.html' %}
{% block title %} List|App Store {% endblock %}
{% block content %}
		<h2>List Movies</h2>
			<table class="table table-responsive">
				<thead>
					<tr bgcolor="yellow" align="center">
						<td><b>ID</b></td>
						<td><b>Judul</b></td>
						<td><b>Tahun</b></td>
						<td><b>Action</b></td>
					</tr>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td>{{ d.id }}</td>
						<td>{{ d.judul }}</td>
						<td align="center">{{ d.year }}</td>
						<td align="center">
							<a href="/movies/edit/{{ d.id }}" class="btn btn-warning">Edit</a>
							<a href="/movies/delete/{{ d.id }}" class="btn btn-danger">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<p>
				<br/>
				<a href="/" class="btn btn-primary">Home</a>
				<a href="/movies/add" class="btn btn-success">Add New</a>
			</p>
{% endblock %}